/*algemene styling*/

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family:'Open Sans', sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

img{
  max-width:100%;
  max-height:100%;
}

/* Text */

p {
  color: black;
}

h1 {
  color: black;
}

/* Topbar */

.topbar{
  display: flex;

}

.sign-in-button {
  background-color: transparent;
  margin-left: auto;
  margin-top: 15px;
  padding: 15px 32px;

}
.sign-up-button{
  padding: 15px 32px;
  margin-top: 15px;
  margin-right: 10px;
}
.logo-img{
  width: 100px;
  height: 40px;
  margin-left: 15px;
  margin-top: 15px;
}

/* Header */

header {
  background-image: linear-gradient(hsl(243, 87%, 12%), hsl(243, 86%, 85%));
  font-family: "Raleway", sans-serif;
  font-weight: 700px;
  height: 550px;
  clip-path: polygon(0 0, 100% 0, 100% 87%, 0 74%);
}
.toptitle{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr) ;
  grid-template-areas:
      "s s s s s s . . . i i i"
      "b b . . . . . . . i i i"
      ". . . . . . . . . i i i";
}
.subtitle {
  color: white;
  width: 400px;
  margin-left: 15px;
  grid-area: s;

}
.started-button{
  grid-area: b;
  padding:15px 32px;
  margin-top:-15px;
  margin-bottom: 60px;
  margin-left: 15px;
}

.img-hero {
  grid-area: i;
  height: 250px;
  width: 250px;

}


/* Column Section*/

.Productive{
  text-align: center;
  grid-column: 1/-1;
  grid-area: pr;
}
.Productive-paragraph{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr) ;
  grid-template-areas:
      "pr pr pr pr pr pr pr pr pr pr pr pr"
      ". i i i i pl pl pl . c c c"
      ". i i i i pl pl pl . c c c"
      ". i i i i s s s . b b b"
      ". . . . . s s s . b b b";
}
.img-features{
  grid-area: i;
  height: 300px;
  width: 300px;
  margin-left: 15px;
  margin-top: -300px;

}
.columns .platforms{
  grid-area: pl;
}
.columns .collaboration{
  grid-area: c;
}
.columns .security{
  grid-area: s;
}
.columns .backups{
  grid-area: b;
}
.columns{
  width: 400px;
  height: 100px;
  font-weight: 400;
}
.Early-Access{
text-align: center;
display: grid;
grid-template-columns: repeat(10, 1fr);
grid-template-rows: 1fr 1fr 1fr;
grid-template-areas:
  ". t t t t t t t t ."
  ". . p p p p p p . ."
  ". . p p p p p p . .";
}
.title-Early-Access{
  grid-area: t;
}
.paragraph-Early-Access{
  grid-area: p;
}
.placeholder-Button{
  text-align: center;
}
.join-Button{
  padding: 15px 32px;
}

/* Button Styling */

button {
  background-color: #00e68a;
  border: none;
  border-radius: 4px;
  color: white;
  text-align: center;
  font-family:'Open Sans', sans-serif;
  font-size: 16px;
  cursor:pointer;
}


/* Footer */

footer {
  background-color: hsl(243, 87%, 12%);
  clip-path: polygon(0 100%, 0 0%, 100% 15%, 100% 100%)
}

.img-logo{
  margin-left: 15px;
  grid-area: il;
}
.img-phone{
  margin-left: 15px;
  grid-area: ip;
}
.img-email{
  margin-left: 15px;
  grid-area: ie;
}

.links{
  text-align: left;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    ". . pf pc ps . . "
    ". . . . . . ."
    ". . lf lc ls . . "
    ". . lf lc ls . . "
    ". . lf lc ls . . "
    ". . lf lc ls . . ";
}
.paragraph-links-fylo{
  grid-area:pf;
  font-weight: 700;
  color: white;
  }
.links-fylo{
  grid-area:lf;
  }
.paragraph-links-company{
  grid-area:pc;
  font-weight: 700;
  color: white;
  }
.links-company{
  grid-area:lc;
  }
.paragraph-links-support{
  grid-area:ps;
  font-weight: 700;
  color: white;
    }
.links-support{
  grid-area:ls;
    }
.updates-email{
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
      ". . . . . . . . . . up up up ."
      ". . . . . . . . . . . . . .";
}

.join-Button-updates{
  grid-area:jb;
  padding: 15px 32px;
  margin-top: 25px;
}
.info{
  grid-area:in;
  color: white;
}
.updates {
  grid-area:up;
  color: white;
}
.email{
  grid-area:em;
  margin-left: 1000px
}
