header {
  background-image: linear-gradient(hsl(243, 87%, 12%), hsl(243, 86%, 85%));
}

h1 {
  color: black;
}

p {
  color: black;
}

.links {
  list-style-type: none;
  padding-left: 0;
}

.bold-text {
  font-weight: 700;
}
